.main_image{
    height: 100vh;
    margin-top: -50px;
}

.image{
    background-image: linear-gradient(0deg, rgba(3, 30, 150, 0.658), rgba(3, 30, 150, 0.658)), url('images/road.jpg');
    top: 0;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image h1{
    color: white !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offers{
    padding-top: 30px;
    text-align: center;
}

.offers h4{
    color: rgb(102, 102, 12);
}